Django==3.1.7
deco-helper==0.1.0
distlib==0.3.1
dj-database-url==0.5.0
Faker==6.5.2
filelock==3.0.12
fonttools==4.28.1
gunicorn==20.0.4
helper-functions==2.0.11
helpers==0.2.0
imutils==0.5.4
joblib==1.1.0
pipenv==2020.11.15
six==1.15.0
sqlparse==0.4.1
text-unidecode==1.3
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
typing_extensions==4.0.0
validate-email==1.3
virtualenv==20.4.2
virtualenv-clone==0.5.4

