{% load static %}
 <!--Start Footer-->
 <footer>
    <div class="container">
        <div class="row">
            <!--Start copyright-->
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <p>CONTACT ADDRESS:
                    FLYXAVI SOLUTIONS LLP.
                    BANGALORE, INDIA. 562107.
                </p>
               
                 
                      

            </div>
            <div class="col-md-4">

               <p>WHATSAPP +91-91732- 91723</p>
                 <p>CALL  +91-91732- 91723</p>
               <p>connect@flyxavi.com </p>
               <p>Careers: life@flyxavi.com </p>
               <p>Sales: flysales@flyxavi.com </p>
               <p>Projects: projects@flyxavi.com </p> 
               </div>

            <div class="col-md-6">
                <div class="copyright"><p>Copyright © 2021 All Rights reserved by: Flyxavi
                
              </p></div>
              </div>
              <div class="col-md-6">
                <div class="social-icons">
                    <ul>
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                     <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                     <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                 </div>
            </div>
            <!--End social icons-->
        </div> <!-- /.row-->
    </div> <!-- /.container-->
</footer>
<!--End Footer-->